*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(110, 110, 110);
}

.container{
    max-width: 1440px;
    margin: auto;
    width: 100%;
}
.items {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 122px;
}

.slide{
    display: flex;
}
.slide div a img{
    border-radius: 50px;
}
.items>div{
    position: relative;
}

h2{
    color: aqua;
}
.items>div>a>img{
    height: 200px;
    width: 300px;
    border-radius: 10px;
   margin: 20px 20px;
   box-shadow: 0px 10px 25px 5px rgba(0,0,0,0.20);
   transition: 0.5s;
}
.items>div>a>img:hover{

   transform: scale(1.2);
}
.left{
    position: relative;
}
.left>.fa-solid {
    position: absolute;
    top: 129px;
    font-size: 48px;
}
.right{
    position: relative;
}

.right>.fa-solid {
    position: absolute;
    right: 0;
    bottom: 80px;
    font-size: 48px;
}
span {
    position: absolute;
    right: 34%;
    font-size: 18px;
    font-weight: bold;
    bottom: 13%;
    color: rgb(2, 2, 2);
    width: 53%;
    display: none;
    cursor: pointer;
}
 button {
    cursor: pointer;
    height: 36px;
    width: 146px;
    background-color: azure;
    color: green;
    margin: 10px 20px;
    border: 0px;
    border-radius: 5px;
    font-size: 17px;
}
.buttons {
    margin: 25px 0px;
}
button:hover{
    background-color: aqua;
    color: black;
    transition: 1s;
}
input[type="search"] {
    height: 40px;
    width: 510px;
    margin-left: 373px;
    padding-left: 20px;
    outline: 0;
    background-color: azure;
    border: 2px solid black;
    border-radius: 5px;
}
 h1 {
    text-align: center;
    margin: 40px 0px;
    color: rgb(54, 135, 202);
}
.fa-6x{
    text-align: center;
    margin: 70px 0px;
    color: aqua;
    font-size: 50px;
}
.slide div a img {
    border-radius: 50%;
    height: 187px;
    width: 187px;
    margin: 0px 34px;
}
i{
    cursor: pointer;
}
.slide{
    overflow-y: auto;
    scroll-behavior: smooth;
}
.slide::-webkit-scrollbar{
    -webkit-appearance: none;
}
h2 {
    margin: 30px 0px;
}
.detail {
    display: flex;
    margin: 50px 200px;
}
.detail>img {
    width: 310px;
    height: 250px;
}
li {
    list-style: none;
    margin: 15px 40px;
    font-size: 26px;
}
.container2>h2{
    color: aqua;
    text-align: center;
    font-size: 40px;
}
.views{
    cursor: pointer;
    margin: 10px;
    color: black;
    width: 130px;
    margin-left: 998px;
    font-size: 22px;
}